#outDiv{
	position: relative;
	float: right;
	display: inline;
	width: 8%;
	max-width: 35px;
	cursor:pointer;
	border-radius: 45px;
	z-index: 1;
}
#outDiv:hover{
	cursor: pointer;
	border-radius: 5px;
	background-color: rgb(185, 185, 185);
}
@media screen and (max-width: 450px) {
	#outDiv{
		width: 10%;
	}
}
@media screen and (max-width: 350px) {
	#outDiv{
		width: 14%;
	}
}
@media screen and (max-width: 265px) {
	#outDiv{
		width: 18%;
	}
}

#outDiv>div{
	position: relative;
	width:100%;
	height:5px;
	margin: 5px 0;
	border-radius: 45px;
	background-color: rgba(112, 101, 101);
}
.showBar{
	animation: show;
	animation-duration: 0.5s;
	opacity: 1;
}

.removeBar{
	animation: remove;
	animation-duration: 0.5s;
	opacity: 0;
}

.rotateT{
	top:10px;
	animation: rotateB;
	animation-duration: 0.5s;
	rotate: 45deg;
}

.rotateTB{
	animation: rotateBR;
	animation-duration: 0.5s;
	rotate: 0deg;
}

.rotateB{
	top:-10px;
	animation: rotateT;
	animation-duration: 0.5s;
	rotate: -45deg;
}

.rotateBB{
	animation: rotateTR;
	animation-duration: 0.5s;
	rotate: 0deg;
}


@keyframes remove{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
@keyframes show{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes rotateB{
	from{
		top:0;
		rotate: 0deg;
	}
	to{
		top:10px;
		rotate: 45deg;
	}
}
@keyframes rotateBR{
	from{
		top:10px;
		rotate: 45deg;
	}
	to{
		top:0;
		rotate: 0deg;
	}
}
@keyframes rotateT{
	from{
		top:0;
		rotate: 0deg;
	}
	to{
		top:-10px;
		rotate: -45deg;
	}
}
@keyframes rotateTR{
	from{
		top:-10px;
		rotate: -45deg;
	}
	to{
		top:0;
		rotate: 0deg;
	}
}
