#lLinks{
	position:fixed;
	z-index: 0;
	width: 60%;
	height: 100%;
	background-color: rgba(100, 100, 100, 0.75);
	padding-top: 2.5%;
}

#lLinks>p{
	margin-left: 10px;
	color: white;
	font-size: 16px;
}

img{
	width: 80%;
	padding-left: 10%;
}

#bg{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.125);
}

@media screen and (max-width: 400px) {
	#lLinks{
		width: 80%;
		padding-top: 19%;
	}
}

@media screen and (max-width: 300px) {
	#lLinks{
		width: 100%;
		padding-top: 22%;
	}
	#lLinks>p{
		text-align: center;
		margin-left: 0;
	}
}

.defaultBg{
	opacity: 0;
}

.defaultLateral{
	left: -250px;
	opacity: 0;
}

.hideLateral{
	animation: hideLateral;
	animation-duration: 0.5s;
	left: -250px;
	opacity: 0;
}
.showLateral{
	animation: showLateral;
	animation-duration: 0.5s;
	left: 0px;
	opacity: 1;
}

.hideBg{
	animation: hideBg;
	animation-duration: 0.25s;
	opacity: 0;
}

.showBg{
	animation: showBg;
	animation-duration: 0.25s;
	opacity: 1;
}



@keyframes showBg {
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}
@keyframes hideBg {
	from{
		opacity: 1;
	}to{
		opacity: 0;
	}
}

@keyframes showLateral {
	from{
		opacity: 0;
		left: -250px;
	}to{
		opacity: 1;
		left:0;
	}
}
@keyframes hideLateral {
	from{
		opacity: 1;
		left:0;
	}to{
		opacity: 0;
		left: -250px;
	}
}
